body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
  }
  
  .container {
    text-align: center;
    background-color: #f0f0f0; /* New background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .container:hover {
    transform: scale(1.05);
  }
  
  .message {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
  }
  
  .message h1 {
    font-size: 2em;
    color: #333;
  }
  
  .message p {
    font-size: 1.2em;
    color: #666;
  }

  @media screen and (max-width: 768px) {
    /* CSS rules for smaller screens */
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
